* {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red;
} */

.body {
  font-family: "Roboto", sans-serif;
  max-width: 320px;
  margin: 0 auto;
  padding: 40px 8px;
  background-color: #e5e5e5;
}

p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  padding: 16px 15px 20px 20px;
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.main-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  top: 10px;
  left: 254px;
}

.main-button::before {
  z-index: 99;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("../image/cross.svg");
  background-repeat: no-repeat;
}

.main-image {
  margin-left: 43px;
  margin-top: -5px;
}

h1 {
  margin: 0;
  padding: 12px 0 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.description-list {
  margin-bottom: 19px;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-row-gap: 11px;
}

.description-item {
  list-style: none;
}

.description-item:nth-child(n + 4) {
  padding-left: 14px;
}

.description-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #989691;
}

.description-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #383736;
}

.button-first {
  position: relative;
  margin-bottom: 12px;
  padding: 6px 18px 6px 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #64b851;
  background: #f2faf0;
  border-radius: 22px;
  border: none;
}

.button-first::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../image/check.svg");
  background-repeat: no-repeat;
}

.button-second {
  position: relative;
  margin-bottom: 22px;
  padding: 6px 16px 6px 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.23px;
  color: #eb4b51;
  background: #faf0f0;
  border-radius: 22px;
  border: none;
}

.button-second::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 6px;
  width: 16px;
  height: 16px;
  background-image: url("../image/cross-red.svg");
  background-repeat: no-repeat;
}

.select {
  width: 315px;
  border-top: 1px solid #f0eeeb;
}

.shower {
  padding: 20px 0 16px;
  width: 245px;
}

.shower-top,
.shower-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #989691;
}

.shower-bottom {
  padding-top: 13px;
}

.shower-top span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2794db;
}

.shower-bottom span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #eb4b51;
}

.shower-span {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #383736;
}

.select-button {
  padding: 12px 52px 12px 74px;
  background: #fac62d;
  border-radius: 6px;
  border: none;
}

.select-button span {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.22px;
  color: #383736;
}

.select-button span::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -20px;
  width: 12px;
  height: 12px;
  background-image: url("../image/key.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .body {
    min-width: 768px;
    margin: 0 auto;
    padding: 40px 28px;
  }

  .main {
    grid-template-columns: 177px 1fr 24px;
    grid-template-rows: repeat(2, 1fr);
  }

  .main-image {
    padding-top: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .select {
    width: 100%;
    margin: 0 32px;
  }

  .select-button {
    padding: 12px 241px 12px 266px;
  }

  @media (min-width: 920px) {
    .body {
      min-width: 920px;
    }

    .main {
      grid-template-columns: 177px 1fr 1fr 24px;
      grid-template-rows: 1fr;
    }

    .main-button {
      grid-column: 4 / 5;
    }

    .select {
      margin: 0;
      grid-column: 3 / 4;
    }

    .select-button {
      padding: 12px 52px 12px 74px;
    }
  }
}
